In [ ]:
import pandas as pd
data={'Color':['Red','Blue','Green','White']}
df=pd.DataFrame(data)
df_encoded=pd.get_dummies(df)
print(df_encoded)

   Color_Blue  Color_Green  Color_Red  Color_White
0       False        False       True        False
1        True        False      False        False
2       False         True      False        False
3       False        False      False         True

In [ ]:
dt={'Age':[23,43,56,45,87,45,34,68,34]}
df=pd.DataFrame(dt)
bins=[0,20,40,60,100]
labels=['0-20','21-40','41-60','61+']

df['Age_Group']=pd.cut(df['Age'], bins=bins, labels=labels,right=False)
print(df)

   Age Age_Group
0   23     21-40
1   43     41-60
2   56     41-60
3   45     41-60
4   87       61+
5   45     41-60
6   34     21-40
7   68       61+
8   34     21-40

In [ ]:
ds={'Full Address':[
    '123 Elm St, Springfield, 12345', '456 Oak Rd, Shelbyville, 67890']
}
df=pd.DataFrame(ds)
df[['Street','City','Zipcode']]=df['Full Address'].str.extract(
    r'([0-9]+\s[\w\s]+),\s([\w\s]+),\s(\d+)'
)
print(df)

                     Full Address      Street         City Zipcode
0  123 Elm St, Springfield, 12345  123 Elm St  Springfield   12345
1  456 Oak Rd, Shelbyville, 67890  456 Oak Rd  Shelbyville   67890