In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    'UserID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Name': ['Alice Smith', 'Bob Johnson', 'Charlie Brown', 'David Lee', 'Eve Davis', 'Frank White', 'Grace Hall', 'Henry King'],
    'Score': [88.5, 95.0, np.nan, 72.3, 91.1, 88.5, 78.0, 95.0],
    'City': ['New York', 'London', 'Paris', 'New York', 'London', 'Tokyo', 'Paris', 'London'],
    'IsActive': [True, True, False, True, False, True, True, True],
    'Date': pd.to_datetime(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08'])
}

In [ ]:
df = pd.DataFrame(data)
print(df)

   UserID           Name  Score      City  IsActive       Date
0     101    Alice Smith   88.5  New York      True 2024-01-01
1     102    Bob Johnson   95.0    London      True 2024-01-02
2     103  Charlie Brown    NaN     Paris     False 2024-01-03
3     104      David Lee   72.3  New York      True 2024-01-04
4     105      Eve Davis   91.1    London     False 2024-01-05
5     106    Frank White   88.5     Tokyo      True 2024-01-06
6     107     Grace Hall   78.0     Paris      True 2024-01-07
7     108     Henry King   95.0    London      True 2024-01-08

In [ ]:
df.head()

   UserID           Name  Score      City  IsActive       Date
0     101    Alice Smith   88.5  New York      True 2024-01-01
1     102    Bob Johnson   95.0    London      True 2024-01-02
2     103  Charlie Brown    NaN     Paris     False 2024-01-03
3     104      David Lee   72.3  New York      True 2024-01-04
4     105      Eve Davis   91.1    London     False 2024-01-05

In [ ]:
df.shape

(8, 6)

In [ ]:
print("List of Columns Name :",df.columns)

List of Columns Name : Index(['UserID', 'Name', 'Score', 'City', 'IsActive', 'Date'], dtype='object')

In [ ]:
df.isnull().sum()

UserID      0
Name        0
Score       1
City        0
IsActive    0
Date        0
dtype: int64

In [ ]:
print("Check data type of following columns :",df['City'],df['Score'])

Check data type of following columns : 0    New York
1      London
2       Paris
3    New York
4      London
5       Tokyo
6       Paris
7      London
Name: City, dtype: object 0    88.5
1    95.0
2     NaN
3    72.3
4    91.1
5    88.5
6    78.0
7    95.0
Name: Score, dtype: float64

In [ ]:
print("Statistics for all columns ",df.describe().to_string)

Statistics for all columns  <bound method DataFrame.to_string of           UserID      Score                 Date
count    8.00000   7.000000                    8
mean   104.50000  86.914286  2024-01-04 12:00:00
min    101.00000  72.300000  2024-01-01 00:00:00
25%    102.75000  83.250000  2024-01-02 18:00:00
50%    104.50000  88.500000  2024-01-04 12:00:00
75%    106.25000  93.050000  2024-01-06 06:00:00
max    108.00000  95.000000  2024-01-08 00:00:00
std      2.44949   8.625047                  NaN>

In [ ]:
print("Get the total number of columns :",df.size)

Get the total number of columns : 48

**INDEXING & SELECTION**

In [ ]:
df.head()

   UserID           Name  Score      City  IsActive       Date
0     101    Alice Smith   88.5  New York      True 2024-01-01
1     102    Bob Johnson   95.0    London      True 2024-01-02
2     103  Charlie Brown    NaN     Paris     False 2024-01-03
3     104      David Lee   72.3  New York      True 2024-01-04
4     105      Eve Davis   91.1    London     False 2024-01-05

In [ ]:
print("For Name columns : ",df['Name'].head(3))

For Name columns :  0      Alice Smith
1      Bob Johnson
2    Charlie Brown
Name: Name, dtype: object

In [ ]:
print("For combine 2 column :",df[['UserID','City']].head(3).to_string)

For combine 2 column : <bound method DataFrame.to_string of    UserID      City
0     101  New York
1     102    London
2     103     Paris>

In [ ]:
print("Row at index 4 :",df.loc[4].to_string)

Row at index 4 : <bound method Series.to_string of UserID                      105
Name                  Eve Davis
Score                      91.1
City                     London
IsActive                  False
Date        2024-01-05 00:00:00
Name: 4, dtype: object>

In [ ]:
print("Select All row where city is london",df[df['City']=='London'].to_string)

Select All row where city is london <bound method DataFrame.to_string of    UserID         Name  Score    City  IsActive       Date
1     102  Bob Johnson   95.0  London      True 2024-01-02
4     105    Eve Davis   91.1  London     False 2024-01-05
7     108   Henry King   95.0  London      True 2024-01-08>

In [ ]:
print("Score is greater than 90",df[df['Score']>90].to_string)

Score is greater than 90 <bound method DataFrame.to_string of    UserID         Name  Score    City  IsActive       Date
1     102  Bob Johnson   95.0  London      True 2024-01-02
4     105    Eve Davis   91.1  London     False 2024-01-05
7     108   Henry King   95.0  London      True 2024-01-08>

In [ ]:
filter_ny_active = (df['City'] == 'New York') & (df['IsActive'] == True)
print("Newyork and Isactive", df[filter_ny_active].to_string())

Newyork and Isactive    UserID         Name  Score      City  IsActive       Date
0     101  Alice Smith   88.5  New York      True 2024-01-01
3     104    David Lee   72.3  New York      True 2024-01-04

In [ ]:
print("Paris orTokyo", df.query('City == "Paris" or City == "Tokyo"').to_string())

Paris orTokyo    UserID           Name  Score   City  IsActive       Date
2     103  Charlie Brown    NaN  Paris     False 2024-01-03
5     106    Frank White   88.5  Tokyo      True 2024-01-06
6     107     Grace Hall   78.0  Paris      True 2024-01-07

In [ ]:
df_dropped = df.drop(columns=['IsActive'])
print("drop IsActive", df_dropped.shape)

drop IsActive (8, 5)

In [ ]:
mean_score = df['Score'].mean()
df_filled = df.copy()
df_filled['Score'] = df_filled['Score'].fillna(mean_score)
print("\n22. df['Score'].fillna(mean_score) (Filled Score):\n", df_filled.loc[2, 'Score'])

22. df['Score'].fillna(mean_score) (Filled Score):
 86.91428571428573

In [ ]:
df_dropna = df.dropna()
print("missing value content  dropping ", df_dropna.shape)

missing value content  dropping  (7, 6)

In [ ]:
df_sorted = df.sort_values(by='Score', ascending=False)
print("Sorting dataframe", df_sorted[['Name', 'Score']].head(5).to_string())

Sorting dataframe           Name  Score
1  Bob Johnson   95.0
7   Henry King   95.0
4    Eve Davis   91.1
5  Frank White   88.5
0  Alice Smith   88.5

In [ ]:
df['City'] = df['City'].replace('New York', 'NYC')
print("Replacing Newyork to NYC", df.loc[0, 'City'])

Replacing Newyork to NYC NYC

In [ ]:
print("Find Median", df['Score'].median())

Find Median 88.5

In [ ]:
city_mean = df.groupby('City')['Score'].mean()
print("Mean Score by City", city_mean.to_string())

Mean Score by City City
London    93.7
NYC       80.4
Paris     78.0
Tokyo     88.5

In [ ]:
score_agg = df.agg({'Score': ['count', 'std']})
print("\Coundand std", score_agg.to_string())

\Coundand std           Score
count  7.000000
std    8.625047

<>:2: SyntaxWarning: invalid escape sequence '\C'
<>:2: SyntaxWarning: invalid escape sequence '\C'
/tmp/ipython-input-1883664713.py:2: SyntaxWarning: invalid escape sequence '\C'
  print("\Coundand std", score_agg.to_string())

In [ ]:
print("Variance:", df['Score'].var())

Variance: 74.39142857142859

In [ ]:
print("Quantile :", df['Score'].quantile(0.75))

Quantile : 93.05

In [ ]:
pivot_table = df.pivot_table(index='City', values=['Score', 'Name'], aggfunc={'Score': 'mean', 'Name': 'count'})
print("\n43. df.pivot_table(index='City', ...) (Pivot Table):\n", pivot_table.to_string())

43. df.pivot_table(index='City', ...) (Pivot Table):
         Name  Score
City
London     3   93.7
NYC        2   80.4
Paris      2   78.0
Tokyo      1   88.5

In [ ]:
df.to_csv('pandas_summary_output.csv', index=False)